.container{
    background-color: #ffc168;
    border: none;
    border-radius: 15px;
    margin: 20px;
    padding: 20px;
}
.container:hover{
    transform: scale(1.1);
}
.name{
    padding-top: 0%;
    margin-top: 0px;
    text-transform: uppercase;
    color: rgb(49, 18, 18)
}
.decoration{
    text-transform: uppercase;
}
.decoration:hover{
    transform: scale(1.1);
}
.types{
    display: flex;
    justify-content: space-around;
    text-transform: uppercase;
    color: rgb(49, 18, 18);
    font-weight: bold;
}
.types:hover{
    transform: scale(1.2);
}
.divimg{
    padding-bottom: 0;
    background-image: url('https://external-preview.redd.it/XfZ2BCWg9MHnXnCjXQtQtLGmq6KfcKYcuX3PpR3qHwc.jpg?auto=webp&s=a20131055a8a966bf7c9921a83e6ae4d72275115');
}
.img{
    position: relative;
    bottom: 15px;
}
.img:hover{
    transform: scale(1.2);
    
}