.filterType {
	width: 35%;
	display: flex;
	justify-content: space-around;
	align-items: center;
	margin-left: 30%;
	margin-right: 30%;
	flex-wrap: wrap;
	margin-bottom: 25px;
	margin-top: 25px;
}

.img-filterType {
	width: 2.1rem;
	height: 2.1rem;
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	align-items: center;
	text-align: center;
	border-radius: 10rem;
	margin-bottom: 0.25rem;
	cursor: pointer;
	background-color: white;
	box-shadow: 0 5px 10px black;
	transition: all 0.5s;
	padding: 10px;
}

.img-filterType:hover {
	display: flex;
	transform: scale(1.2);
}

.btn{
	background-color: transparent;
	border: none;
}