.boton{
    color: white;
    background-color: rgba(15, 177, 66, 0.836);
    
    cursor:pointer;
    width: 160px;
    height: 70px;
    font-size: 15px;
    border-radius: 10px;
    border: none;
    transition: box-shadow 0.2s ease-in-out;
}
.boton:hover{
      opacity: 0.9;
}